/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: FASTQC {
        ext.args = '--quiet'
    }
    withName: UNTAR {
        ext.prefix = { "${archive.simpleName}" }
        publishDir = [
            path: { "${params.outdir}/untar/databases" },
            mode: params.publish_dir_mode,
            enabled: params.save_untarred_databases,
        ]
    }
    // humann4 requires a metaphlan profile with the extra columns provided by -t rel_ab_w_read_stats
    withName: MPAHUMANN4 {
        ext.args = '-t rel_ab_w_read_stats'
    }
    withName: HUMANN3 {
        publishDir = [
            path: { "${params.outdir}/humann3/" },
            mode: params.publish_dir_mode,
            pattern: '*.{tsv.gz,log,.command.*}'
        ]
    }
    withName: HUMANN4 {
        publishDir = [
            path: { "${params.outdir}/humann4/" },
            mode: params.publish_dir_mode,
            pattern: '*.{tsv.gz,log,.command.*}'
        ]
    }
    withName: FMHFUNPROFILER {
        tag = {"${meta.db_name}|${meta.id}"}
        ext.args = { "${meta.db_params}" }
        ext.prefix = params.perform_runmerging ? { "${meta.id}_${meta.db_name}.fmhfunprofiler" } : { "${meta.id}_${meta.run_accession}_${meta.db_name}.fmhfunprofiler" }
        publishDir = [
            path: { "${params.outdir}/fmhfunprofiler/${meta.db_name}/" },
            mode: params.publish_dir_mode,
            pattern: '*.{ko}'
        ]
    }
    withName: 'MULTIQC' {
        ext.args   = { params.multiqc_title ? "--title \"$params.multiqc_title\"" : '' }
        publishDir = [
            path: { "${params.outdir}/multiqc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

}
